body{
    background-image: url(videoplayback.mp4);
    font-family:Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 50px;
    margin-top: 20px;
}
h1{
    font-family:'Times New Roman';
    text-align: center;
    font-weight: bold;
    margin-top: -20px;
    color:rgba(205, 15, 15, 0.493);
}
#p1{
    text-align: center;
    color: rgba(178, 82, 4, 0.817);
    margin-top: -20px;
}
.box1{
    width: 350px;
    height: 20px;
    padding:30px;
    margin: auto;
    border-radius:25px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur();
    -webkit-backdrop-filter:blur();
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:
        0 5px 30px rgba(0,0,0,0.2),
        inset 0 1px 1px rgba(255,255,255,0.6);
    color:white;
    text-align:center;
}
h2{
    text-decoration: underline;
    color: rgb(152, 86, 4);
    font-family: geneva;
    font-style: italic;
    margin-bottom: 5px;
}
h3{
    color: rgb(214, 135, 50);
    font-weight: bold;
    font-size: 16px;
    height: 5px;
}
.contact-icons {
    display: flex;
    gap: 5px;
    align-items: center;
}
.contact-icons img {
    width: 50px;
    height: 45px;
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.4s;
    border-radius: 5px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur();
    -webkit-backdrop-filter:blur();
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:
        0 5px 30px rgba(0,0,0,0.2),
        inset 0 1px 1px rgba(255,255,255,0.6);
}
.contact-icons :hover{
    transform: scale(0.9) translateY(-8px);
}
.copy{
    color:tomato;
    text-decoration: underline;
    font-style: italic;
}
p{
    color: aliceblue;
}
.list{
    color: white;
}
.H{
    border-radius: 5px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur();
    -webkit-backdrop-filter:blur();
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:
        0 5px 30px rgba(0,0,0,0.2),
        inset 0 1px 1px rgba(255,255,255,0.6);
    color:white;
    text-align:center;
    cursor: pointer;   
    z-index: 1;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    video{
    filter:
        contrast(1.25)
        saturate(1.2)
        brightness(1.05);
    }
}
